body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: linear-gradient(135deg, #016E4E, #004831);
}

html, body, #root {
  height: 100%;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.z-10 {
  z-index: 10;
}

.z-0 {
  z-index: 0;
}

.animate-gradient-slow {
  animation: gradient-background 15s ease infinite;
}

@keyframes gradient-background {
  0% {
    background: #016E4E;
  }
  50% {
    background: #004831; /* Version plus sombre du vert principal */
  }
  100% {
    background: #016E4E;
  }
}