@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-slow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-slow {
  background-size: 200% 200%;
  animation: gradient-slow 20s ease infinite;
}